.carousel {
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 5em;
    margin-left: 20%;
    padding-bottom: 40%;
    transition: 2s;
    z-index: 2;
}

.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 2s;
}

.slide_img img {
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3, #i4, #i5 {
    display: none;
}

.prev, .next {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: pointer;
    margin-top: 300px;
    transition: 1s;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.chevron {
    color: white;
    font-size: 100px;
    opacity: 90%;
    transition: 1s;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five {
    z-index: 99;
}