footer {
    background-color: $bg-black;  
}
.foot {
    float: right;
    width: 80%;
    background-color: $bg-gray;
    color: $text-lightgray;
    display: flex;
    flex-direction: row;
    h3, p, h4, ul {
        margin: 10px;
    }   
    h3, h4 {
        color: $text-white;  
    } 
    .footer-apropos {
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
     
    }
    .footer-contact{
        width: 50%;
        padding: 10px;
        .email-ducsman {
            color: $text-white; 
            text-decoration: underline;
            text-decoration-color: $text-gold ;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 10px;
            }
        }
    }
    
    a {
        color: $text-white;
        text-decoration: none;
        transition: .4s
    }
    ul {
        list-style: none;
    }  

}
.mentions-legales{
    h6 {
        width: 50%;
        margin: auto;
        padding: 30px;
        color: $text-white;
    }
    background-color: $bg-lightblack;
    .copyright {
        color:$text-lightgray;
    }
}

@media screen and (max-width: 1080px) {
    .foot{
        display: flex;
        flex-direction: column;
        .footer-apropos, .footer-contact{
            width: 100%;
        }
    }
    
}