*{
    margin: 0;
}

.navigateur{
    position: fixed;
}

nav{
    background-color: #1B1B1B;
    width: 20%;
    height: 110em;
    font-family: "PT Sans", sans-serif;
    font-weight: lighter;
    position: absolute;
}

.logo-nav{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "PT Sans", sans-serif;
    color: #AA8453;
    margin-top: 3em;
}

#nom{
    font-family: "PT", serif;
    color: #AA8453;
    font-size: 3em;
}

#nomcontact{
    font-family: "PT", serif;
    color: #AA8453;
    font-size: 3em;
}

nav ul{
    color: #797979;
    text-transform: uppercase;
    margin-top: 5em;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

nav li{
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

nav a{
    text-decoration: none;
    color: #797979;
}

.tel{
    margin-top: 5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.num{
    color: #AA8453; 
    font-size: 1.4em;
}

.fa-phone-volume{
    font-size: 40px;
    margin-right: 30px;
    color: #AA8453;
    grid-row-end: 3;
    grid-row-start: 1;
    align-content: center;
}

.infos{
    color: #797979;
}

#accroche{
    color: white;
    letter-spacing: 3px;
    font-size: 1em;
}


@media screen and (max-width: 1080px) {
    iframe{
    width: 100%;
    }

    .sectioncontact{
        display: flex;
        flex-direction: column;
    }

    .premierepartie{
        display: flex;
        flex-direction: column;
    }

    nav ul{
        display: none;
    }

    .logo-nav{
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        font-family: "PT Sans", sans-serif;
        color: #AA8453;
        margin-top: 3em;
    }

    .tel{
        margin-top: 5em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #nom{
        font-size: 2em;
    }

    #accroche{
        font-size: 0.6em;
    }

    .num{
        font-size: 1em;
    }

    .fa-phone-volume{
        font-size: 2em;
    }
}